.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-description {
  color: #555;
}

.product-price {
  font-size: 1.125rem;
  color: #333;
}

.product-button {
  margin-top: 10px;
}

.admin-table th, .admin-table td {
  text-align: center;
  vertical-align: middle;
}

.admin-table .text-success {
  color: #28a745;
}

.admin-table .text-danger {
  color: #dc3545;
}

.admin-table .btn {
  margin: 0;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
}

.modal-content {
  border-radius: 8px;
}

.modal-header, .modal-footer {
  border: none;
}

.create-product-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-product-form .form-control {
  border-radius: 4px;
}

.create-product-form .btn-primary {
  border-radius: 4px;
}

.text-center {
  text-align: center;
}

.alert {
  margin-bottom: 20px;
}

#navbar {
  background-color: #f8f9fa; 
}

#navbar .navbar-brand img {
  height: 30px;
  width: auto;
}

.navbar-nav .nav-link {
  margin-left: 15px;
  font-weight: 500; 
}

.navbar-nav .nav-link.active {
  color: #0d6efd; 
}

.navbar-nav .nav-link:hover {
  color: #0a58ca; 
}

.navbar-toggler {
  border-color: #0dc5fd; 
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="%230d6efd" stroke-width="2" d="M5 7h20M5 15h20M5 23h20" /%3E%3C/svg%3E'); 
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="%230d6efd" stroke-width="2" d="M7 7l16 16M7 23l16-16" /%3E%3C/svg%3E'); /* Cross icon color */
}

.loading-spinner {
  width: 3rem;
  height: 3rem;
  color: #007bff; 
}


.container.mt-5 {
  margin-top: 3rem;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d;
}

.list-group-item {
  padding: 1.2rem;
  border: none;
}

.list-group-item strong {
  color: #495057;
}

.alert-info {
  text-align: center;
  font-size: 1.1rem;
}